#titulo {
    color: #618264;
    text-align: center;
    font-size: 40px;
}
.texto {
    color: #B0D9B1;
    text-align: center;
    font-size: 35px;
}
.Titulo{
    color: #7ED7C1;
}
.conteúdo principal {
    color: #F0DBAF
}
