#titulo {
    color: #618264;
    text-align: center;
    font-size: 40px;
}
.Título {
    color: #2B2A4C;
    text-align: center;
    font-size: 35px;
    background-color: aliceblue;
}
.conteudo {
    color: #B31312;
    text-align: center;
    font-size: 35px;
    background-color: azure;
}
.listas {
    color: #644040;
    text-align: center;
    font-size: 35px;
    background-color: beige;
}
}