#titulo {
    color: #618264;
    text-align: center;
    font-size: 40px;
}
.titulo {
    color: #2B2A4C;
    text-align: center;
    font-size: 35px;
    background-image:linear-gradient(#9AD0C2, #2D9596);
}
.conteudo {
    color: #B31312;
    text-align: center;
    font-size: 35px;
    background-image: linear-gradient(#EEF296, #9ADE7B);
}
.listas {
    color: #644040;
    text-align: center;
    font-size: 35px;
    background-image: linear-gradient(#AF2655, #A3B763, #860A35);
}
